# Exclure les dépendances locales
vendor/
node_modules/

# Exclure les fichiers de configuration sensibles
.env
docker-compose.override.yml
fly.toml

# Exclure les dumps de base de données
arcadia_dump.sql
mongo-dump/

# Exclure les fichiers temporaires et de cache
*.log
logs/
cache/
tmp/
storage/
.DS_Store
Thumbs.db

# Exclure les fichiers générés par Composer
composer.lock
composer.phar

# Exclure les fichiers de test et de documentation
tests/
docs/
*.md
README.md
LICENSE

# Exclure les fichiers de configuration des éditeurs
.idea/
.vscode/

# Exclure les fichiers spécifiques à Docker
.dockerignore

# Exclure les fichiers système
*.swp
*.swo
*.bak

# Exclure les fichiers de build
build/
dist/
coverage/

# Exclure les fichiers volumineux
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.mp4
*.mp3
*.avi
*.mov
